<header class="main-header">
  <div class="container">
    <a routerLink="/" class="logo">Meu Salário Líquido</a> <!-- Nome do site atualizado -->
    <nav class="main-nav">
      <!-- Links de navegação futuros aqui -->
      <!-- Exemplo: <a routerLink="/calculadora-pt">Portugal</a> -->
    </nav>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="main-footer">
  <div class="footer-container">
    <ul class="footer-links">
      <li><a routerLink="/sobre">Sobre</a></li> <!-- Usar routerLink para navegação interna -->
      <li><a routerLink="/privacidade">Política de Privacidade</a></li>
      <li><a routerLink="/contato">Contato</a></li>
    </ul>
    <p>&copy; {{ currentYear }} Meu Salário Líquido. Todos os direitos reservados.</p> <!-- Nome do site atualizado -->
  </div>
</footer>


